@charset "utf-8";

.contentSearchForm{position:relative; overflow:hidden; text-align:left; margin-top:30px; width:100%; border:1px solid #ccc;}
.contentSearchForm p{position:relative; overflow:hidden; padding:12px; background:#d9d9d9;}
.contentSearchForm p label.searchText{margin-right:20px;font-size:16px;color:#676767;letter-spacing:-0.03em}
.contentSearchForm select{vertical-align:top; padding:6px; margin-bottom:3px; width:33%; height:40px; font-size:13px; font-family:'NBG';}
.contentSearchForm span{}
.contentSearchForm input[type='text']{padding:10px; width:calc(100% - 64px); height:40px; color:#666; font-size:15px; font-family:'NBG'; box-sizing:border-box;}
.contentSearchForm input[type='submit']{vertical-align:top; width:60px; height:40px; background:#384863; border:none; color:#fff; font-size:15px;}

/* 리스트 페이지 수 & 정렬기준 표시 */
.searchForm{overflow:hidden; position:relative; padding:10px 5px; margin:16px 0; border-bottom:1px solid #ccc; border-top:2px solid #444;}
.searchForm ul li{float:left; color:#464646; font-size:13px; line-height:25px}
.searchForm ul li:first-child{}
.searchForm ul li strong{display:none;}
.searchForm ul li span{color:#c33c6f; font-family:'NBGB';}
.searchForm ul li b{color:#333; font-family:'NBGB'; font-weight:normal;}
.searchForm ul li.R{float:right; }
.searchForm ul li.R.bbs{float:none; clear:left;}
.searchForm ul li.R > select{vertical-align:top; min-width:80px; height:25px; padding-left:10px; border:none; border-left:1px solid #d9d9d9; font-family:'NBG';}
.searchForm ul li.R div{overflow:hidden; margin-top:4px;}
.searchForm ul li.R div select{float:left; vertical-align:top; padding-left:10px; width:calc(50% - 2px); height:40px; border:1px solid #d9d9d9; font-family:'NBG';}
.searchForm ul li.R div select ~ select{margin-left:4px;}
.searchForm ul li.R input[type='text']{float:left; padding-left:8px; margin-right:4px; width:calc(100% - 64px); height:40px; border:1px solid #d9d9d9; line-height:26px; box-sizing:border-box;}
.searchForm ul li.R input[type='submit']{float:left; cursor:pointer; border:none; width:60px; height:40px; background:#384863; color:#fff; font-family:'NBGB'; line-height:40px}
.searchForm ul li.R input.excel{text-align:center; width:90px; background:#25b923; border:none; color:#fff; font-size:13px; line-height:25px;}

/* 게시판 리스트 페이지 */
table.list_style_1 {width:100%; border-top:1px solid #464646; border-collapse:collapse; word-break:break-all; table-layout:fixed;}
table.list_style_1 tr{border-bottom:1px solid #dfdfdf;}
table.list_style_1 tr td{display:block; color:#666; font-size:12px; line-height:15px;}
table.list_style_1 tr td.title{/* overflow:hidden; text-overflow:ellipsis; white-space:nowrap; */ text-align:left; margin:8px 0; color:#333; font-size:13px; font-family:'NBGB'; line-height:normal;}
table.list_style_1 tr td.title ~ td{float:left; position:relative; padding-right:10px; margin-right:7px;}
table.list_style_1 tr td.title ~ td::after{content:''; position:absolute; top:0; right:0; width:1px; height:10px; background:#bbb;}
table.list_style_1 tr td.title ~ td:last-child{margin-bottom:8px;}
table.list_style_1 tr td.title ~ td:last-child::after{display:none;}
table.list_style_1 tr td.title + td::before{display:none;}
table.list_style_1 tr td.title a{display:block; margin-top:4px;}
table.list_style_1 tr td.check{margin-top:6px;}
table.list_style_1 tr td.check + td.category{margin-top:3px; background:#157884;}
table.list_style_1 tr td.faq {padding:0;}
table.list_style_1 tr td.notice {float:none; text-align:left; height:auto; padding-left:15px; padding-right:15px;}
table.list_style_1 tr td.num{}
table.list_style_1 tr td .icon_new{display:inline-block;width:12px;height:11px;margin-left:5px;background:url('../images/board/icon_new.png') left center no-repeat;vertical-align:middle}
table.list_style_1 tr td .icon_reply{display:inline-block;width:9px;height:10px;margin-right:5px;background:url('../images/board/icon_reply.png') left center no-repeat;vertical-align:middle}
table.list_style_1 tr td .icon_secret{display:inline-block;width:13px;height:15px;margin-left:5px;background:url('../images/board/icon_secret.png') left center no-repeat;vertical-align:middle}
table.list_style_1 tr td a:hover{color:#8b95b9}
table.list_style_1 tr td a.icon_hangeul{display:inline-block;width:30px;height:30px;background:url('../images/board/icon_hangeul.png') no-repeat;vertical-align:middle}
table.list_style_1 tr td a.icon_pdf{display:inline-block;width:30px;height:30px;background:url('../images/board/icon_pdf.png') no-repeat;vertical-align:middle}
table.list_style_1 tr td a.icon_excel{display:inline-block;width:30px;height:30px;background:url('../images/board/icon_excel.png') no-repeat;vertical-align:middle}
table.list_style_1 tr td a.icon_image{display:inline-block;width:30px;height:30px;background:url('../images/board/icon_image.png') no-repeat;vertical-align:middle}
table.list_style_1 tr td a.icon_folder{display:inline-block;width:30px;height:30px;background:url('../images/board/icon_folder.png') no-repeat;vertical-align:middle}
table.list_style_1 tr td a.icon_zip{display:inline-block;width:30px;height:30px;background:url('../images/board/icon_zip.png') no-repeat;vertical-align:middle}
table.list_style_1 tr .category{display:inline-block; text-align:center; padding:3px 6px; color:#fff; font-size:12px; font-family:'NBG'; border-radius:3px; line-height:normal;}
table.list_style_1 tr .category.c1{background:#028396;}
table.list_style_1 tr .category.c2{background:#bc2a42;}
table.list_style_1 tr .category.c3{background:#036868;}
table.list_style_1 tr .category.c4{background:#e68422;}
table.list_style_1 tr .category.c5{background:#b33e65;}
table.list_style_1 tr .category.c6{background:#4253a6;}
table.list_style_1 tr .category.c7{background:#74a611;}
table.list_style_1 tr .category.c8{background:#bf9f00;}
table.list_style_1 tr .category.c9{background:#cc4429;}
table.list_style_1 tr .category.c10{background:#248fb3;}
table.list_style_1 tr .category.c11{background:#318c40;}
table.list_style_1 .hide{display:none;}
table.list_style_1 thead{display:none;}
table.list_style_1 colgroup{display:none;}
table.list_style_1 tr td div.mypage_img{margin-top:4px;}
table.list_style_1 tr td div.mypage_img img{width:100%; border:1px solid #ddd; box-sizing:border-box;}

/* 게시판 작성 페이지 */
table.write_style_1{margin-top:16px; width:100%; border-collapse:collapse; table-layout:fixed; border-top:2px solid #444;}
table.write_style_1 tr th{text-align:left; vertical-align:middle; padding:15px 10px; background:#f6f6f6; border:1px solid #dfdfdf; border-left:none; border-right:none; color:#333; font-size:15px; font-family:'NBGB'; font-weight:normal; line-height:24px;}
table.write_style_1 tr td{padding:10px; border:1px solid #dfdfdf; border-right:none; color:#000; font-size:14px; line-height:30px;}
table.write_style_1 tr td:first-child{border-left:none;}
table.write_style_1 tr td.center{text-align:center;}
table.write_style_1 tr td input[type='text']{padding:3px; width:100%; border:1px solid #e5e5e5; line-height:24px; box-sizing:border-box;}
table.write_style_1 tr td select{min-width:100px; height:32px; padding:1px 3px; border:1px solid #d2d2d2;}
table.write_style_1 tr td textarea{padding:15px; width:100%; min-height:150px; border:1px solid #e5e5e5; box-sizing:border-box; resize:vertical;}
table.write_style_1 tr td span{margin-left:10px;}
table.write_style_1 tr td .estl{color:red}

/* 게시판 뷰 페이지 */
table.view_style_1{margin-top:16px; width:100%; border-collapse:collapse; table-layout:fixed; border-top:2px solid #444;}
table.view_style_1 tr th{text-align:left; vertical-align:middle; padding:10px; background:#f6f6f6; border:1px solid #dfdfdf; border-left:none; border-right:none; color:#333; font-size:15px; font-family:'NBGB'; font-weight:normal; line-height:22px;}
/* 부가관광정보 - 카테고리 */
table.view_style_1 tr th span.cat{display:inline-block; text-align:center; vertical-align:middle; padding:0 7px; margin-right:5px; background:#000; color:#fff; font-size:12px; font-family:'NBG'; line-height:24px;}
table.view_style_1 tr th span.cat.c0{background:#8e945d;}/* 고택/한옥 */
table.view_style_1 tr th span.cat.c1{background:#946290;}/* 농업유산 */
table.view_style_1 tr th span.cat.c2{background:#7e8bbd;}/* 농촌살기 */
table.view_style_1 tr th span.cat.c3{background:#5cb7c5;}/* 인터뷰 */
table.view_style_1 tr th span.cat.c4{background:#c56f25;}/* 음식/먹거리 */
table.view_style_1 tr th span.cat.c5{background:#1842a0;}/* 기획여행코스 */
table.view_style_1 tr th span.cat.c6{background:#517b88;}/* 교육/문화 */
table.view_style_1 tr th span.cat.c7{background:#969398;}/* 기타 */
table.view_style_1 tr td{padding:12px 10px; border:1px solid #dfdfdf; border-left:none; border-right:none; color:#333; font-size:13px;}
table.view_style_1 tr td ul.list::after{content:''; display:block; clear:both;}
table.view_style_1 tr td ul.list li{margin-top:4px; color:#555; font-size:12px;}
table.view_style_1 tr td ul.list li:first-child{margin-top:0px;}
table.view_style_1 tr td ul.list li span{display:inline-block; position:relative; padding-right:12px; margin-right:8px; width:38px; color:#444; font-family:'NBGB';}
table.view_style_1 tr td ul.list li span::before{content:''; position:absolute; top:2px; right:0px; background:#ccc; width:1px; height:11px;}
table.view_style_1 tr td.attach{padding:8px 0px; font-size:12px;}
table.view_style_1 tr td.attach::after{content:''; display:block; clear:both;}
table.view_style_1 tr td.attach > span{display:none; float:left; position:relative; padding-right:10px; margin-top:8px; margin-right:10px;}
table.view_style_1 tr td.attach > span::before{content:''; position:absolute; top:2px; right:0px; background:#ccc; width:1px; height:11px;}
table.view_style_1 tr td.attach ul{}
table.view_style_1 tr td.attach ul li{margin-top:4px;}
table.view_style_1 tr td.attach ul li:first-child{margin-top:0px;}
table.view_style_1 tr td.attach ul li a{display:inline-block; margin-left:5px; line-height:31px;}
table.view_style_1 tr td.tag{padding:12px 10px;}
table.view_style_1 tr td.tag span{position:relative; padding:0 5px 0 7px; color:#444; font-size:13px; word-break:keep-all;}
table.view_style_1 tr td.tag span::before{content:'#'; position:absolute; left:0px; top:0px;}
table.view_style_1 tr td.tag span:last-child::after{display:none;}
table.view_style_1 tr td.contents{padding:12px; border-bottom:1px solid #ccc;}
table.view_style_1 tr td.contents img{ max-width:100%;}
table.view_style_1 tr td > .contents{}

table.view_style_1 tr th .icon_new{display:inline-block;width:12px;height:11px;margin-left:5px;background:url('../images/board/icon_new.png') left center no-repeat;vertical-align:middle}
table.view_style_1 tr td .icon_hangeul{display:inline-block;width:20px;height:20px;background:url('../images/board/icon_m_hangeul.png') no-repeat;vertical-align:middle}
table.view_style_1 tr td .icon_pdf{display:inline-block;width:20px;height:20px;background:url('../images/board/icon_m_pdf.png') no-repeat;vertical-align:middle}
table.view_style_1 tr td .icon_excel{display:inline-block;width:20px;height:20px;background:url('../images/board/icon_m_excel.png') no-repeat;vertical-align:middle}
table.view_style_1 tr td .icon_image{display:inline-block;width:20px;height:20px;background:url('../images/board/icon_m_image.png') no-repeat;vertical-align:middle}
table.view_style_1 tr td .icon_folder{display:inline-block; vertical-align:middle; width:31px; height:31px; background:url(../../images/article/file.png) no-repeat; font-size:0px;}
table.view_style_1 tr td .icon_zip{display:inline-block;width:20px;height:20px;background:url('../images/board/icon_m_zip.png') no-repeat;vertical-align:middle}

table.view_list{margin-top:30px; width:100%; border-top:2px solid #c9c9c9; border-bottom:2px solid #c9c9c9;}
table.view_list th{padding:15px; color:#5c7499; font-family:'Nanum Gothic Bold'; border-bottom:1px solid #c9c9c9; background:#fafafa;}
table.view_list th img{padding:5px 0 0 5px;}
table.view_list td{padding:15px; border-bottom:1px solid #c9c9c9;}

/* 동영상 갤러리 */
.videoChart{position:relative;overflow:hidden;width:100%;padding-top:25px;border-top:2px solid #5e626e;border-bottom:1px solid #ced0d3}
.videoChart ul{overflow:hidden;margin-bottom:20px}
.videoChart ul li{float:left;width:31.8%;margin-left:1.8%;border:1px solid #dbdbdb;text-align:center}
.videoChart ul li:first-child{margin-left:0}
.videoChart ul li p{position:relative;overflow:hidden;width:100%}
.videoChart ul li p a em{position:absolute;left:50%;top:50%;width:59px;height:59px;margin-left:-30px;margin-top:-30px;background:url('../images/board/btn_play.png') no-repeat}
.videoChart ul li p img{width:100%; max-height:212px; cursor:pointer}
.videoChart ul li dl{overflow:hidden;padding:20px;color:#6b6b6b;text-align:left}
.videoChart ul li dl dt{ font-size:16px;line-height:20px}
.videoChart ul li dl dd{margin-top:5px;font-family:'NanumGothic';font-size:13px;color:#999}

/* paging */
.mobPaging{display:none}
.paging{display:inline-block; overflow:hidden; position:relative; left:50%; transform:translateX(-50%); margin:45px 0 0px 0; text-align:center;}
.paging span{margin-left:10px}
.paging span:first-child{margin-right:10px}
.paging em{display:none;}
.paging a{display:inline-block; float:left; width:30px; height:30px; margin-left:-1px; border:1px solid #ccc; font-size:12px; color:#444; box-sizing:border-box; line-height:32px;}
.paging a.btn_start{margin-left:0px; background:url(/images/article/btn_start.png) no-repeat center center;}
.paging a.btn_prev{margin-right:0px; background:url(/images/article/btn_prev.png) no-repeat center center;}
.paging a.btn_next{transform:rotate(180deg); background:url(/images/article/btn_prev.png) no-repeat center center;}
.paging a.btn_end{transform:rotate(180deg); background:url(/images/article/btn_start.png) no-repeat center center;}
.paging a:hover{background-color:#f5f5f5;}
.paging a:first-child{margin-left:0;}
.paging a.this{border:1px solid #028396; background:#028396; color:#fff}

/* btn */
.btns{position:relative; text-align:center; margin-top:30px; width:100%;}
.btns::after{content:''; display:block; clear:both;}
.btns div.right{float:right;}
.btns div.left{float:left;}
.btns a{display:inline-block; text-align:center; padding:10px; min-width:80px; background:#45484e; border:1px solid #45484e; color:#fff; font-size:13px; font-family:'NBGB'; box-sizing:border-box;}
.btns a.cancel{background:#fff; border:1px solid #444; color:#444;}
.btns button{text-align:center; padding:10px; min-width:80px; background:#45484e; border:1px solid #45484e; color:#fff; font-size:13px; font-family:'NBGB';}
.btns button.cancel{background:#fff; border:1px solid #444; color:#444;}

/* prev next */
.prev_next{overflow:hidden; margin-top:50px; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.prev_next a{display:block; overflow:hidden; box-sizing:border-box;}
.prev_next a.prev{position:relative; border-bottom:1px solid #ccc;}
.prev_next a h6{float:left; position:relative; text-align:center; padding:10px 0 10px 15px; width:80px; background:#f6f6f6; font-size:12px; font-family:"NBGB"; color:#028396; box-sizing:border-box;}
.prev_next a h6::before{content:''; position:absolute; top:11px; left:15px; width:8px; height:11px; background:url(/images/article/view_prev.png) no-repeat 0px 0px; background-size:6px;}
.prev_next a div{float:left; padding:10px 0 10px 10px; width:calc(100% - 80.1px); box-sizing:border-box;}
.prev_next a.prev h6::before{transform:rotate(90deg);}
.prev_next a.next h6::before{transform:rotate(-90deg);}
.prev_next a p.tit{overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:12px;}
.prev_next span{display:none; font-size:13px; line-height:13px;}
.prev_next span.date{padding-right:12px; margin-right:8px; border-right:1px solid #ccc;}